$font-color-dark: #4B577E;
$font-color-beta-light: #96a1bd;
$font-color-grey: #E4E7ED;
$font-warning: #EAC029;
$notification-warning: #f6bb40;


$sidebar-light-color: #E4E7ED;
$sidebar-color: #4B577E;
$sidebar-highlight-color: #445076;
$sidebar-hover-color: #5d6a8c;
$sidebar-dark-bg: #3E496F;

$sidebar-width-medium: 450px;
$sidebar-tab-inactive: #5E6A8E;

$navbar-menu-item-height: 40px;

// scrollable table
$td-color-3: transparent;
$td-color-2: transparent;
$td-color-1: transparent;
$td-color-0: transparent;

// Table styles
$table-dark-font: #454f76;
$light-cell-color-beta: #fbfcfc;
$dark-cell-color-beta: #e4e7ed;
$dark-light-cell-color: #e9ecf0;
$cell-height: 43px;

$segmentation-splash-color: #445076;

$segmentation-group-0: #53617f; // Empty color
$segmentation-group-1: #ecb67b;
$segmentation-group-2: #82b5fa;
$segmentation-group-3: #ee575a;
$segmentation-group-4: #b0d591;

// Skeleton color
$skeleton-color: $sidebar-color;

// Animations
$deceleration-curve-timing: cubic-bezier(0, 0, .2, 1);

// User Guide
$guide-font-color: #434F7A;
$guide-font-color-icon: #7882AD;
$guide-bg-color: #D0D7ED;
$guide-bg-color-disabled: #6B7A9E;
$guide-bg-color-btn: #E9EEFC;
$guide-bg-color-btn-accent: #F7F8FF;

$warning-bg-color: #FBEAAD;
$warning-font-color: #5D4F39;
