$path-fonts: '/assets/fonts';
$path-images: '/assets/images';
$font-color-lighter: #c9ced9;

$mediumblue: #8f9eb4;
$logo: #00bed5;

$sidebar-divider-color: #e6eaee;
$sidebar-width: 315px;
$sidebar-width-medium: 420px;
$sidebar-width-bigger: 520px;
$sidebar-width-big: 800px;
$sidebar-width-huge: 1200px;
$sidebar-width-mobile: 280px;
$sidebar-width-tobile: 330px;
$sidebar-item-spacing: 11px;

$navbar-height: 40px;
$navbar-menu-item-height: 41px;
$navbar-padding-top: 6px;

$box-bg: #f8f9fb;

$scroll-bar-height: 11px;

// scrollable table

$td-color-3: #d2d8e1;
$td-color-2: #dee2e9;
$td-color-1: #e9ecf0;
$td-color-0: #f8f9fa;

$stick-width: 250px;
$stick-width-mobile: 180px;
$stick-width-wider: 300px;
$cell-width: 125px;
$cell-width-mobile: 115px;
$cell-height: 45px;
$light-border-color: #fff;
$dark-border-color: #ebedf1;

$light-cell-color: #f7f8f9;
$dark-cell-color: #b2becb;

// Beta placeholders

$font-color-dark: '';
$font-color-beta-light: '';
$font-color-grey: '';
$font-warning: '';

$sidebar-light-color: '';
$sidebar-color: transparent;
$sidebar-highlight-color: '';
$sidebar-hover-color: '';

$sidebar-tab-inactive: '';

$segmentation-group-0: '';
$segmentation-group-1: '';
$segmentation-group-2: '';
$segmentation-group-3: '';
$segmentation-group-4: '';

$segmentation-splash-color: '';

// Skeleton color
$skeleton-color: $color-bg;
